.speed-dial-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .speed-dial-button {
    background-color: var(--primary-color); 
    color: white;
    transition: transform 0.2s ease-in-out;
  }
  
  .speed-dial-button:hover {
    transform: scale(1.1);
  }
  
  .speed-dial-menu {
    position: absolute;
    bottom: 60px; 
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .speed-dial-item {
    margin-bottom: 8px;
    background-color: var(--accent-color); 
    color: var(--sys-on-surface);
    transition: transform 0.2s ease-in-out;
  }
  
  .speed-dial-item:hover {
    transform: scale(1.1);
  }
  
  .speed-dial-icon {
    width: 36px; 
    height:36px;
    color: var(--sys-on-surface);

  }
  
  .tooltip {
    position: absolute;
    top: -30px;
    right: 50px;
    background-color: black;
    color: var(--sys-on-surface);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .speed-dial-item:hover .tooltip {
    opacity: 1;
  }
  .speed-dial-button mat-icon{
        color: var(--sys-on-surface);
    
  }